{%extends 'base.html' %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>


{% block content %}

	<!--Reset Password-->
	<div class="container p-5" style="text-align: center">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div>

{% endblock %}
</body>
</html>